<div class="center hero-unit">
<% provide(:title, 'Home') %>
<h1>Sample app</h1>
<p>
	This is the home page!!
	<a href="http://google.com">Go to google</a>
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<img alt="Rails" src="/assets/rails.png">